h1{
  text-align: center;
  margin-top: 3%;
}

.formStyle {
  text-align: center;
  margin-top: 3%;
  margin-left: 10%;
  margin-right: 10%;
  background-color: violet;
  padding: 1%;
  border-radius: 10px;
  border-color: black;
  }
  #results {
  margin-top: 5%;
  }

.contentform {
  display: flex;
  justify-content: space-between;
}

.flotante {
  float: left;
}

table{
  border: 1px solid black;
  background-color: violet;
  margin-left: 10%;
  width: 50%;
  height: 75px;
  text-align: center;
  border-radius: 10px;

}

td{
  border: 1px solid gray;
}

th{
  border: 1px solid gray;
}

.carrito {
  display: flexbox;
  margin-top: 0.1%;
  margin-left: 80%;
  background-color: violet;
  border-radius: 10px;
}

h2 {
  margin-left: 10%;
}

#boton{
  border-radius: 10%;
}
